/* Soluzione qui */
@media screen and (min-width: 576px) {
    .clearfix img{
        float: left;
        margin-right: 15px;
    }

    .btn{
        width: 40%;
    }
}

@media screen and (min-width: 768px){
    main{
        padding: 30px;
    }
    /* credevo andasse messo al body */

    #topbar{
        justify-content: start;
    }

    .recipe-origin{
        display: inline;
    }

    .recipe-name{
        font-size: 2em;
    }

    .quick-notes ul{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10%;
    }

    .quick-notes ul li{
        flex-basis: calc(33% - 10%);
    }

    .btn{
        width: 60%;
    }

    .ads{
        display: flex;
    }

    .clearfix img{
        float: left;
        margin-right: 15px;
    }
}

@media screen and (min-width: 922px){
    .recipe-name{
        font-size: 3em;
    }

    .quick-notes ul{
        display: block;
    }

    .recipe-card{
        display: flex;
    }

    .recipe-video{
        height: auto;
        flex-basis: 75%;
        /* non sono riuscito a mantenere la totale visualizzazione della copertina del video, che viene tagliata */
    }

    .social-networks .label{
        display: inline;
    }

    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    
}