/* Soluzione qui */

@media screen and (min-width: 768px){
    body{
        padding: 20px 30px;
    }

    #topbar{
        justify-content: start;
    }

    .recipe-origin{
        display: inline;
    }

    #logo{
        font-size: 4em;
    }

    .quick-notes ul{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10%;
    }
}